.gradle
build/
!**/src/**/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Android Studio
/captures
.externalNativeBuild
.cxx
local.properties
