/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.powens.api.client.services

import com.powens.api.model.CalendarBound
import com.powens.api.model.ServiceError1
import com.powens.api.model.Transaction
import com.powens.api.model.TransactionUpdateRequest
import com.powens.api.model.TransactionValueFilter
import com.powens.api.model.TransactionsList

import com.powens.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BankTransactionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter expand
     */
    @Serializable
    enum class ExpandGetUserTransaction(val value: kotlin.String) {
        
        @SerialName(value = "account")
        Account("account"),
        
        @SerialName(value = "documents")
        Documents("documents")
        
    }

    /**
     * Get a bank transaction
     * Get a single bank transaction of the authenticated user by ID.
     * @param transactionId Transaction ID.
     * @param all Flag to include disabled and deleted items in the list. (optional)
     * @param expand  (optional)
     * @return Transaction
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUserTransaction(transactionId: kotlin.ULong, all: kotlin.Boolean? = null, expand: kotlin.collections.List<ExpandGetUserTransaction>? = null): HttpResponse<Transaction> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        all?.apply { localVariableQuery["all"] = listOf("$all") }
        expand?.apply { localVariableQuery["expand"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/users/me/transactions/{transactionId}".replace("{" + "transactionId" + "}", "$transactionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter expand
     */
    @Serializable
    enum class ExpandListUserTransactions(val value: kotlin.String) {
        
        @SerialName(value = "account")
        Account("account"),
        
        @SerialName(value = "documents")
        Documents("documents")
        
    }

    /**
     * List bank transactions
     * List bank transactions of the authenticated user. By default, only active (not &#x60;deleted&#x60;) transactions are returned, use the &#x60;all&#x60; parameter to get the full list.
     * @param expand  (optional)
     * @param all Flag to include disabled and deleted items in the list. (optional)
     * @param minDate Filter items after the specified date. (optional)
     * @param maxDate Filter items before the specified date. (optional)
     * @param income Filter on incomes or expenditures. (optional)
     * @param deleted Filter on deleted transactions. (optional)
     * @param lastUpdate Filter transactions updated *after* the specified date. (optional)
     * @param wording Filter transactions containing the given string. (optional)
     * @param `value` Value of the transaction. \&quot;XX|-XX\&quot; and \&quot;±XX\&quot; are also accepted. (optional)
     * @param search Search in wording, dates, values, categories. (optional)
     * @param offset Return items after the specified offset. (optional)
     * @param limit Return at most the specified amount of items. (optional)
     * @return TransactionsList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listUserTransactions(expand: kotlin.collections.List<ExpandListUserTransactions>? = null, all: kotlin.Boolean? = null, minDate: CalendarBound? = null, maxDate: CalendarBound? = null, income: kotlin.Boolean? = null, deleted: kotlin.Boolean? = null, lastUpdate: kotlinx.datetime.LocalDateTime? = null, wording: kotlin.String? = null, `value`: kotlin.collections.List<TransactionValueFilter>? = null, search: kotlin.String? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null): HttpResponse<TransactionsList> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        expand?.apply { localVariableQuery["expand"] = toMultiValue(this, "csv") }
        all?.apply { localVariableQuery["all"] = listOf("$all") }
        minDate?.apply { localVariableQuery["min_date"] = listOf("$minDate") }
        maxDate?.apply { localVariableQuery["max_date"] = listOf("$maxDate") }
        income?.apply { localVariableQuery["income"] = listOf("$income") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        lastUpdate?.apply { localVariableQuery["last_update"] = listOf("$lastUpdate") }
        wording?.apply { localVariableQuery["wording"] = listOf("$wording") }
        `value`?.apply { localVariableQuery["value"] = toMultiValue(this, "pipes") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/users/me/transactions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter expand
     */
    @Serializable
    enum class ExpandUpdateUserTransaction(val value: kotlin.String) {
        
        @SerialName(value = "account")
        Account("account"),
        
        @SerialName(value = "documents")
        Documents("documents")
        
    }

    /**
     * Update a bank transaction
     * Update a bank transaction. The resource mirrors bank transactions available through the connector, so editing is limited to metadata.
     * @param transactionId Transaction ID.
     * @param transactionUpdateRequest 
     * @param all Flag to include disabled and deleted items in the list. (optional)
     * @param expand  (optional)
     * @return Transaction
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateUserTransaction(transactionId: kotlin.ULong, transactionUpdateRequest: TransactionUpdateRequest, all: kotlin.Boolean? = null, expand: kotlin.collections.List<ExpandUpdateUserTransaction>? = null): HttpResponse<Transaction> {

        val localVariableAuthNames = listOf<String>("bearerAuth")

        val localVariableBody = transactionUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        all?.apply { localVariableQuery["all"] = listOf("$all") }
        expand?.apply { localVariableQuery["expand"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/users/me/transactions/{transactionId}".replace("{" + "transactionId" + "}", "$transactionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
